$color--font: #131313;

$colors: (
  light: #fff,
  dark: #000,

  success: #29d220,
  error: #a40707,
  warning: #ecb202,
  info: #00a8e9,

  gray: #c3c3c3,
  blue: #2d96ef,
  green: #2ccf0b,
  red: #d71111,
  yellow: #e3c71d,
  orange: #f1761d,
  brown: #b33c00,
  pink: #ea7bc8,
  violet: #8341ef,
  purple: #980bf6,
  teal: #31d7a9,
);

@function color($color) {
  @if map-has-key($colors, $color) {
    @return map-get($colors, $color);
  }

  @return #fff;
}