@mixin text-colors($add-hover: false) {
  @each $color, $value in $colors {
    &.#{$color} {
      color: color($color);

      @if $add-hover {
        &:hover {
          color: darken(color($color), 15%);
        }
      }
    }
  }
}

@mixin background-color-hover {
  @each $color, $value in $colors {
    &.#{$color}:hover {
      @if $color == 'dark' {
        background-color: darken(invert(color($color)), 30%);
      } @else {
        background-color: lighten(color($color), 30%);
      }
    }
  }
}

@mixin colorful {
  @each $color, $value in $colors {
    &.#{$color} {
      @if $color == 'dark' {
        color: invert(color($color));
      } @else if $color == 'light' {
        color: invert(color($color));
      } @else {
        color: lighten(color($color), 55%);
      }

      @if $color == 'light' {
        background-color: darken(color($color), 5%);
      } @else {
        background-color: color($color);
      }

      &:hover {
        @if $color == 'light' {
          background-color: darken(color($color), 25%);
        } @else {
          background-color: darken(color($color), 5%);
        }
      }
    }
  }
}

@mixin colorful-borders {
  @each $color, $value in $colors {
    &.#{$color} {
      @if $color == 'light' {
        color: darken(color($color), 5%);
        border-color: darken(color($color), 5%);
      } @else {
        color: color($color);
        border-color: color($color);
      }

      &:hover {
        @if $color == 'light' {
          border-color: darken(color($color), 15%);
        } @else {
          border-color: darken(color($color), 10%);
        }

        background-color: transparent;
      }
    }
  }
}

@mixin relaxed {
  @at-root .relaxed#{&} {
    padding-top: get-size(relaxed-element);
    padding-bottom: get-size(relaxed-element);

    @at-root .horizontal#{&} {
      padding-left: get-size(relaxed-element);
      padding-right: get-size(relaxed-element);
    }
  }
}

@mixin celled {
  @at-root .celled#{&} {
    @include relaxed;

    border-top: 0 none;
    border-bottom: get-size(border-size) solid color(dark);
    border-left: get-size(border-size) solid color(dark);
    border-right: get-size(border-size) solid color(dark);

    &:first-of-type {
      border-top: get-size(border-size) solid color(dark);
    }

    @at-root .horizontal#{&} {
      margin: 0 -(2 * get-size(border-size));
      padding: get-size(gap-tiny);

      border-top: get-size(border-size) solid color(dark);
      border-bottom: get-size(border-size) solid color(dark);
      border-left: get-size(border-size) solid color(dark);
      border-right: 0;

      &:first-of-type {
        margin-left: 0;
      }

      &:last-of-type {
        border-right: get-size(border-size) solid color(dark);
      }
    }
  }
}