html {
  font-size: get-size(html);
  letter-spacing: .020em;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font--default;
  font-size: get-size(regular);
  color: $color--font;

  &:not(.fox-cape--loaded) * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
  }
}

h1, h2, h3, h4, h5, h6,
a, span, p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}