$sizes: (
  html: 20px,
  default: .75rem,

  // Headings
  h1: 1.1rem,
  h2: 1rem,
  h3: .9rem,
  h4: .8rem,
  h5: .75rem,
  h6: .7rem,

  // Base
  small: .6rem,
  regular: .7rem,
  large: .9rem,

  // Gaps
  gap-tiny: 2px,
  gap-small: 5px,
  gap-normal: 10px,
  gap-large: 15px,
  gap-heavy: 20px,

  // Borders
  radius-small: 1px,
  radius-normal: 3px,
  radius-large: 5px,
  border-size: 1px,

  // Special
  relaxed-element: 4px,
);

$weights: (
  light: 300,
  normal: 400,
  bold: 700,

  heavy: 600,
  ultra: 800,
);

@function get-size($size) {
  @if map-has-key($sizes, $size) {
    @return map-get($sizes, $size);
  }

  @return 1rem;
}

@function get-weight($weight) {
  @if map-has-key($weights, $weight) {
    @return map-get($weights, $weight);
  }

  @return 400;
}