/**
 * Cleaning
 */
.disable {
  &--padding {
    padding: 0 !important;
  }

  &--margin {
    margin: 0 !important;
  }

  &--all {
    padding: 0 !important;
    margin: 0 !important;
  }
}

/**
 * Padding
 */
.padded {
  &--tiny {
    padding: get-size(gap-tiny);
  }

  &--small {
    padding: get-size(gap-small);
  }

  &--normal {
    padding: get-size(gap-normal);
  }

  &--large {
    padding: get-size(gap-large);
  }
}

/**
 * Margin
 */
.margin {
  &--tiny {
    margin: get-size(gap-tiny);
  }

  &--small {
    margin: get-size(gap-small);
  }

  &--normal {
    margin: get-size(gap-normal);
  }

  &--large {
    margin: get-size(gap-large);
  }
}