/**
 * Lists
 */
ol,
ul {
  li {
    @include text-colors();
  }
}

.list {
  @at-root ul#{&} {
    list-style-type: none;

    &:not(.bulleted) {
      padding: 0;
    }
  }

  @at-root ol#{&} {
    list-style-type: none;

    &:not(.ordered) {
      padding: 0;
    }
  }

  &.bulleted {
    list-style-type: disc;

    @at-root ul#{&} {
      padding: 0 0 0 get-size(gap-heavy);
    }
  }

  &.ordered {
    list-style-type: decimal;

    @at-root ol#{&} {
      padding: 0 0 0 get-size(gap-heavy);
    }
  }

  &.navigation {
    .item {
      cursor: pointer;
      opacity: .6;
      transition: opacity $transition--default-time;

      &.active {
        opacity: 1;
      }

      &:hover {
        opacity: .9;
      }
    }
  }

  .item {
    @include text-colors;
    @include relaxed;
    @include celled;

    padding: get-size(gap-tiny) 0;

    @at-root .selectable#{&} {
      @include background-color-hover();

      transition: background-color $transition--default-time;

      &:hover {
        background-color: lighten(color(gray), 20%);
      }
    }

    @at-root .horizontal#{&} {
      display: inline;
    }
  }
}