/**
 * Headings
 */
h1 {
  font-size: get-size(h1);
}

h2 {
  font-size: get-size(h2);
}

h3 {
  font-size: get-size(h3);
}

h4 {
  font-size: get-size(h4);
}

h5 {
  font-size: get-size(h5);
}

h6 {
  font-size: get-size(h6);
}

h1, h2, h3, h4, h5, h6 {
  margin: get-size(gap-normal) 0;
}

/**
 * Text
 */
p {
  @include text-colors();

  font-size: get-size(regular);
  margin: get-size(gap-normal) 0;
}

span {
  @include text-colors();

  font-size: get-size(regular);
  margin: get-size(gap-normal) 0;
}

/**
 * Links
 */
a {
  @include text-colors(true);

  color: color(blue);
  transition: color $transition--default-time;

  &:hover {
    color: darken(color(blue), 15%);
  }
}